In [1]:
import os
# Find the latest version of spark 3.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.1'
spark_version = 'spark-3.0.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:6 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:11 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Hit:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Reading package lists... Done

In [2]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Hotel_Reviews_NLP").getOrCreate()

In [3]:
# Importing data from RDS (AWS)
import psycopg2
connection = psycopg2.connect(
    host = 'sample-hotel-reviews.cfxm7dziqs2d.us-east-2.rds.amazonaws.com',
    port = 5432,
    user = 'postgres',
    password = 'Postgres$123',
    database = 'Sample_db'
    )
cursor=connection.cursor()

# using pandas to execute SQL queries
import pandas as pd
sql = """
SELECT *
FROM public."Hotel_Reviews"
"""
pandas_df = pd.read_sql(sql, con=connection)

# Show DataFrame
pandas_df

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

      Id  ... days_since_review
0      0  ...            0 days
1      1  ...            0 days
2      2  ...            3 days
3      3  ...            3 days
4      4  ...           10 days
..   ...  ...               ...
995  995  ...           100 day
996  996  ...           102 day
997  997  ...           104 day
998  998  ...           105 day
999  999  ...           106 day

[1000 rows x 16 columns]

In [4]:
# converting PD dataframe to PySpark DataFrame

import numpy as np
import pandas as pd

# Enable Arrow-based columnar data transfers
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

# Create a Spark DataFrame from a pandas DataFrame using Arrow
df = spark.createDataFrame(pandas_df)
df.show()

/content/spark-3.0.1-bin-hadoop2.7/python/pyspark/sql/pandas/conversion.py:289: UserWarning: createDataFrame attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  PyArrow >= 0.15.1 must be installed; however, your version was 0.14.1.
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.
  warnings.warn(msg)

+---+--------------------+----------------------------+-----------+-------------+-----------+--------------------+--------------------+---------------------------------+-----------------------+--------------------+---------------------------------+------------------------------------------+--------------+--------------------+-----------------+
| Id|       Hotel_Address|Additional_Number_of_Scoring|Review_Date|Average_Score| Hotel_Name|Reviewer_Nationality|     Negative_Review|Review_Total_Negative_Word_Counts|Total_Number_of_Reviews|     Positive_Review|Review_Total_Positive_Word_Counts|Total_Number_of_Reviews_Reviewer_Has_Given|Reviewer_Score|                Tags|days_since_review|
+---+--------------------+----------------------------+-----------+-------------+-----------+--------------------+--------------------+---------------------------------+-----------------------+--------------------+---------------------------------+------------------------------------------+--------------+--------------------+-----------------+
|  0| s Gravesandestra...|                         194| 2017-08-03|          7.7|Hotel Arena|             Russia | I am so angry th...|                              397|                   1403| Only the park ou...|                               11|                                         7|           2.9|[' Leisure trip '...|           0 days|
|  1| s Gravesandestra...|                         194| 2017-08-03|          7.7|Hotel Arena|            Ireland |         No Negative|                                0|                   1403| No real complain...|                              105|                                         7|           7.5|[' Leisure trip '...|           0 days|
|  2| s Gravesandestra...|                         194| 2017-07-31|          7.7|Hotel Arena|          Australia | Rooms are nice b...|                               42|                   1403| Location was goo...|                               21|                                         9|           7.1|[' Leisure trip '...|           3 days|
|  3| s Gravesandestra...|                         194| 2017-07-31|          7.7|Hotel Arena|     United Kingdom | My room was dirt...|                              210|                   1403| Great location i...|                               26|                                         1|           3.8|[' Leisure trip '...|           3 days|
|  4| s Gravesandestra...|                         194| 2017-07-24|          7.7|Hotel Arena|        New Zealand | You When I booke...|                              140|                   1403| Amazing location...|                                8|                                         3|           6.7|[' Leisure trip '...|          10 days|
|  5| s Gravesandestra...|                         194| 2017-07-24|          7.7|Hotel Arena|             Poland | Backyard of the ...|                               17|                   1403| Good restaurant ...|                               20|                                         1|           6.7|[' Leisure trip '...|          10 days|
|  6| s Gravesandestra...|                         194| 2017-07-17|          7.7|Hotel Arena|     United Kingdom | Cleaner did not ...|                               33|                   1403| The room is spac...|                               18|                                         6|           4.6|[' Leisure trip '...|          17 days|
|  7| s Gravesandestra...|                         194| 2017-07-17|          7.7|Hotel Arena|     United Kingdom | Apart from the p...|                               11|                   1403| Good location Se...|                               19|                                         1|          10.0|[' Leisure trip '...|          17 days|
|  8| s Gravesandestra...|                         194| 2017-07-09|          7.7|Hotel Arena|            Belgium | Even though the ...|                               34|                   1403|         No Positive|                                0|                                         3|           6.5|[' Leisure trip '...|          25 days|
|  9| s Gravesandestra...|                         194| 2017-07-08|          7.7|Hotel Arena|             Norway | The aircondition...|                               15|                   1403| The room was big...|                               50|                                         1|           7.9|[' Leisure trip '...|          26 days|
| 10| s Gravesandestra...|                         194| 2017-07-07|          7.7|Hotel Arena|     United Kingdom |  Nothing all great |                                5|                   1403| Rooms were stunn...|                              101|                                         2|          10.0|[' Leisure trip '...|          27 days|
| 11| s Gravesandestra...|                         194| 2017-07-06|          7.7|Hotel Arena|             France | 6 30 AM started ...|                               75|                   1403| Style location r...|                                4|                                        12|           5.8|[' Business trip ...|          28 days|
| 12| s Gravesandestra...|                         194| 2017-07-06|          7.7|Hotel Arena|     United Kingdom | The floor in my ...|                               28|                   1403| Comfy bed good l...|                                6|                                         7|           4.6|[' Leisure trip '...|          28 days|
| 13| s Gravesandestra...|                         194| 2017-07-04|          7.7|Hotel Arena|              Italy |         No Negative|                                0|                   1403| This hotel is be...|                               59|                                         6|           9.2|[' Business trip ...|          30 days|
| 14| s Gravesandestra...|                         194| 2017-07-04|          7.7|Hotel Arena|             Canada | The staff in the...|                               35|                   1403| It was very good...|                               15|                                         1|           8.8|[' Leisure trip '...|          30 days|
| 15| s Gravesandestra...|                         194| 2017-07-03|          7.7|Hotel Arena|              Italy |         No Negative|                                0|                   1403| This hotel is aw...|                               82|                                        26|          10.0|[' Leisure trip '...|          31 days|
| 16| s Gravesandestra...|                         194| 2017-07-03|          7.7|Hotel Arena|     United Kingdom | Very steep steps...|                               38|                   1403| Great onsite caf...|                               14|                                         8|           6.3|[' Leisure trip '...|          31 days|
| 17| s Gravesandestra...|                         194| 2017-06-30|          7.7|Hotel Arena|            Ireland | We did not like ...|                               59|                   1403| We loved the loc...|                               64|                                         2|           7.5|[' Leisure trip '...|          34 days|
| 18| s Gravesandestra...|                         194| 2017-06-29|          7.7|Hotel Arena|        Netherlands |         No Negative|                                0|                   1403| Public areas are...|                               33|                                         4|           7.1|[' Business trip ...|          35 days|
| 19| s Gravesandestra...|                         194| 2017-06-20|          7.7|Hotel Arena|          Australia | We had issues wi...|                               73|                   1403| I liked the hote...|                               48|                                        16|           7.5|[' Leisure trip '...|          44 days|
+---+--------------------+----------------------------+-----------+-------------+-----------+--------------------+--------------------+---------------------------------+-----------------------+--------------------+---------------------------------+------------------------------------------+--------------+--------------------+-----------------+
only showing top 20 rows

In [5]:
# Import functions
from pyspark.ml.feature import Tokenizer, StopWordsRemover, HashingTF, IDF, StringIndexer

In [6]:
from pyspark.sql.functions import length
# Create a length column to be used as a future feature
data_df = df.withColumn('length', length(df['Positive_Review']))
data_df.show()

+---+--------------------+----------------------------+-----------+-------------+-----------+--------------------+--------------------+---------------------------------+-----------------------+--------------------+---------------------------------+------------------------------------------+--------------+--------------------+-----------------+------+
| Id|       Hotel_Address|Additional_Number_of_Scoring|Review_Date|Average_Score| Hotel_Name|Reviewer_Nationality|     Negative_Review|Review_Total_Negative_Word_Counts|Total_Number_of_Reviews|     Positive_Review|Review_Total_Positive_Word_Counts|Total_Number_of_Reviews_Reviewer_Has_Given|Reviewer_Score|                Tags|days_since_review|length|
+---+--------------------+----------------------------+-----------+-------------+-----------+--------------------+--------------------+---------------------------------+-----------------------+--------------------+---------------------------------+------------------------------------------+--------------+--------------------+-----------------+------+
|  0| s Gravesandestra...|                         194| 2017-08-03|          7.7|Hotel Arena|             Russia | I am so angry th...|                              397|                   1403| Only the park ou...|                               11|                                         7|           2.9|[' Leisure trip '...|           0 days|    50|
|  1| s Gravesandestra...|                         194| 2017-08-03|          7.7|Hotel Arena|            Ireland |         No Negative|                                0|                   1403| No real complain...|                              105|                                         7|           7.5|[' Leisure trip '...|           0 days|   611|
|  2| s Gravesandestra...|                         194| 2017-07-31|          7.7|Hotel Arena|          Australia | Rooms are nice b...|                               42|                   1403| Location was goo...|                               21|                                         9|           7.1|[' Leisure trip '...|           3 days|    95|
|  3| s Gravesandestra...|                         194| 2017-07-31|          7.7|Hotel Arena|     United Kingdom | My room was dirt...|                              210|                   1403| Great location i...|                               26|                                         1|           3.8|[' Leisure trip '...|           3 days|   143|
|  4| s Gravesandestra...|                         194| 2017-07-24|          7.7|Hotel Arena|        New Zealand | You When I booke...|                              140|                   1403| Amazing location...|                                8|                                         3|           6.7|[' Leisure trip '...|          10 days|    48|
|  5| s Gravesandestra...|                         194| 2017-07-24|          7.7|Hotel Arena|             Poland | Backyard of the ...|                               17|                   1403| Good restaurant ...|                               20|                                         1|           6.7|[' Leisure trip '...|          10 days|   110|
|  6| s Gravesandestra...|                         194| 2017-07-17|          7.7|Hotel Arena|     United Kingdom | Cleaner did not ...|                               33|                   1403| The room is spac...|                               18|                                         6|           4.6|[' Leisure trip '...|          17 days|    84|
|  7| s Gravesandestra...|                         194| 2017-07-17|          7.7|Hotel Arena|     United Kingdom | Apart from the p...|                               11|                   1403| Good location Se...|                               19|                                         1|          10.0|[' Leisure trip '...|          17 days|    98|
|  8| s Gravesandestra...|                         194| 2017-07-09|          7.7|Hotel Arena|            Belgium | Even though the ...|                               34|                   1403|         No Positive|                                0|                                         3|           6.5|[' Leisure trip '...|          25 days|    11|
|  9| s Gravesandestra...|                         194| 2017-07-08|          7.7|Hotel Arena|             Norway | The aircondition...|                               15|                   1403| The room was big...|                               50|                                         1|           7.9|[' Leisure trip '...|          26 days|   243|
| 10| s Gravesandestra...|                         194| 2017-07-07|          7.7|Hotel Arena|     United Kingdom |  Nothing all great |                                5|                   1403| Rooms were stunn...|                              101|                                         2|          10.0|[' Leisure trip '...|          27 days|   549|
| 11| s Gravesandestra...|                         194| 2017-07-06|          7.7|Hotel Arena|             France | 6 30 AM started ...|                               75|                   1403| Style location r...|                                4|                                        12|           5.8|[' Business trip ...|          28 days|    21|
| 12| s Gravesandestra...|                         194| 2017-07-06|          7.7|Hotel Arena|     United Kingdom | The floor in my ...|                               28|                   1403| Comfy bed good l...|                                6|                                         7|           4.6|[' Leisure trip '...|          28 days|    25|
| 13| s Gravesandestra...|                         194| 2017-07-04|          7.7|Hotel Arena|              Italy |         No Negative|                                0|                   1403| This hotel is be...|                               59|                                         6|           9.2|[' Business trip ...|          30 days|   329|
| 14| s Gravesandestra...|                         194| 2017-07-04|          7.7|Hotel Arena|             Canada | The staff in the...|                               35|                   1403| It was very good...|                               15|                                         1|           8.8|[' Leisure trip '...|          30 days|    63|
| 15| s Gravesandestra...|                         194| 2017-07-03|          7.7|Hotel Arena|              Italy |         No Negative|                                0|                   1403| This hotel is aw...|                               82|                                        26|          10.0|[' Leisure trip '...|          31 days|   413|
| 16| s Gravesandestra...|                         194| 2017-07-03|          7.7|Hotel Arena|     United Kingdom | Very steep steps...|                               38|                   1403| Great onsite caf...|                               14|                                         8|           6.3|[' Leisure trip '...|          31 days|    78|
| 17| s Gravesandestra...|                         194| 2017-06-30|          7.7|Hotel Arena|            Ireland | We did not like ...|                               59|                   1403| We loved the loc...|                               64|                                         2|           7.5|[' Leisure trip '...|          34 days|   330|
| 18| s Gravesandestra...|                         194| 2017-06-29|          7.7|Hotel Arena|        Netherlands |         No Negative|                                0|                   1403| Public areas are...|                               33|                                         4|           7.1|[' Business trip ...|          35 days|   166|
| 19| s Gravesandestra...|                         194| 2017-06-20|          7.7|Hotel Arena|          Australia | We had issues wi...|                               73|                   1403| I liked the hote...|                               48|                                        16|           7.5|[' Leisure trip '...|          44 days|   242|
+---+--------------------+----------------------------+-----------+-------------+-----------+--------------------+--------------------+---------------------------------+-----------------------+--------------------+---------------------------------+------------------------------------------+--------------+--------------------+-----------------+------+
only showing top 20 rows

In [7]:
# Create all the features to the data set
pos_neg_to_num = StringIndexer(inputCol='Reviewer_Score',outputCol='label')
tokenizer = Tokenizer(inputCol="Positive_Review", outputCol="token_text")
stopremove = StopWordsRemover(inputCol='token_text',outputCol='stop_tokens')
hashingTF = HashingTF(inputCol="stop_tokens", outputCol='hash_token')
idf = IDF(inputCol='hash_token', outputCol='idf_token')

In [8]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vector
# Create feature vectors
clean_up = VectorAssembler(inputCols=['idf_token', 'length'], outputCol='features')

In [9]:
# Create and run a data processing Pipeline
from pyspark.ml import Pipeline
data_prep_pipeline = Pipeline(stages=[pos_neg_to_num, tokenizer, stopremove, hashingTF, idf, clean_up])

In [10]:
# Fit and transform the pipeline
cleaner = data_prep_pipeline.fit(data_df)
cleaned = cleaner.transform(data_df)

# Show "Combined_Review" and resulting features
cleaned.select(['label', 'features']).show()

+-----+--------------------+
|label|            features|
+-----+--------------------+
| 17.0|(262145,[45848,71...|
|  5.0|(262145,[4714,514...|
|  7.0|(262145,[22346,23...|
| 15.0|(262145,[22346,30...|
|  8.0|(262145,[73341,90...|
|  8.0|(262145,[9781,304...|
| 13.0|(262145,[71826,80...|
|  0.0|(262145,[43890,71...|
| 23.0|(262145,[162801,2...|
|  6.0|(262145,[21641,43...|
|  0.0|(262145,[9129,181...|
| 10.0|(262145,[73341,12...|
| 13.0|(262145,[21641,73...|
|  2.0|(262145,[15370,23...|
|  3.0|(262145,[66869,90...|
|  0.0|(262145,[5765,218...|
|  9.0|(262145,[62309,71...|
|  5.0|(262145,[329,9129...|
|  7.0|(262145,[11941,17...|
|  5.0|(262145,[22373,26...|
+-----+--------------------+
only showing top 20 rows

In [11]:
# Break data down into a training set and a testing set
training, testing = cleaned.randomSplit([0.7, 0.3], 21)

In [12]:
from pyspark.ml.classification import NaiveBayes
# Create a Naive Bayes model and fit training data
nb = NaiveBayes()
predictor = nb.fit(training)

In [13]:
# Transform the data with the testing data
test_results = predictor.transform(testing)
test_results.show(10)

+---+--------------------+----------------------------+-----------+-------------+-----------+--------------------+--------------------+---------------------------------+-----------------------+--------------------+---------------------------------+------------------------------------------+--------------+--------------------+-----------------+------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
| Id|       Hotel_Address|Additional_Number_of_Scoring|Review_Date|Average_Score| Hotel_Name|Reviewer_Nationality|     Negative_Review|Review_Total_Negative_Word_Counts|Total_Number_of_Reviews|     Positive_Review|Review_Total_Positive_Word_Counts|Total_Number_of_Reviews_Reviewer_Has_Given|Reviewer_Score|                Tags|days_since_review|length|label|          token_text|         stop_tokens|          hash_token|           idf_token|            features|       rawPrediction|         probability|prediction|
+---+--------------------+----------------------------+-----------+-------------+-----------+--------------------+--------------------+---------------------------------+-----------------------+--------------------+---------------------------------+------------------------------------------+--------------+--------------------+-----------------+------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|  4| s Gravesandestra...|                         194| 2017-07-24|          7.7|Hotel Arena|        New Zealand | You When I booke...|                              140|                   1403| Amazing location...|                                8|                                         3|           6.7|[' Leisure trip '...|          10 days|    48|  8.0|[, amazing, locat...|[, amazing, locat...|(262144,[73341,90...|(262144,[73341,90...|(262145,[73341,90...|[-322.36504211506...|[0.99999999999973...|       0.0|
| 11| s Gravesandestra...|                         194| 2017-07-06|          7.7|Hotel Arena|             France | 6 30 AM started ...|                               75|                   1403| Style location r...|                                4|                                        12|           5.8|[' Business trip ...|          28 days|    21| 10.0|[, style, locatio...|[, style, locatio...|(262144,[73341,12...|(262144,[73341,12...|(262145,[73341,12...|[-140.07645601369...|[0.02077888230114...|       1.0|
| 21| s Gravesandestra...|                         194| 2017-06-12|          7.7|Hotel Arena|             France | Our room was an ...|                               92|                   1403| The breakfast wa...|                               75|                                        12|           3.8|[' Couple ', ' Du...|          52 days|   392| 15.0|[, the, breakfast...|[, breakfast, pos...|(262144,[6213,153...|(262144,[6213,153...|(262145,[6213,153...|[-2556.7354469414...|[1.0,1.8063205576...|       0.0|
| 27| s Gravesandestra...|                         194| 2017-05-22|          7.7|Hotel Arena|             France | Careful they are...|                               31|                   1403| Great hotel orig...|                                6|                                        25|           8.3|[' Business trip ...|          73 days|    35|  4.0|[, great, hotel, ...|[, great, hotel, ...|(262144,[91031,11...|(262144,[91031,11...|(262145,[91031,11...|[-314.36876198336...|[0.66839430564719...|       0.0|
| 36| s Gravesandestra...|                         194| 2017-04-26|          7.7|Hotel Arena|            Ireland | not cleaned well...|                               18|                   1403| the building mee...|                               11|                                         5|           7.1|[' Business trip ...|          99 days|    56|  7.0|[, the, building,...|[, building, meet...|(262144,[71826,78...|(262144,[71826,78...|(262145,[71826,78...|[-396.61745453988...|[0.99999557551889...|       0.0|
| 37| s Gravesandestra...|                         194| 2017-04-20|          7.7|Hotel Arena|             Russia | The glass wall s...|                               29|                   1403| Very nice hotel ...|                               56|                                        85|           8.8|[' Leisure trip '...|          105 day|   271|  3.0|[, very, nice, ho...|[, nice, hotel, l...|(262144,[21641,22...|(262144,[21641,22...|(262145,[21641,22...|[-1965.4779683738...|[1.0,1.2513055546...|       0.0|
| 39| s Gravesandestra...|                         194| 2017-04-19|          7.7|Hotel Arena|             Canada | Staff a few were...|                              122|                   1403| Location on the ...|                               15|                                         1|           6.3|[' Leisure trip '...|          106 day|    67|  9.0|[, location, on, ...|[, location, park...|(262144,[41421,71...|(262144,[41421,71...|(262145,[41421,71...|[-370.21488036388...|[0.99999999999994...|       0.0|
| 40| s Gravesandestra...|                         194| 2017-04-18|          7.7|Hotel Arena|            Germany | Several parts of...|                               63|                   1403| The hotel is nic...|                               41|                                        26|           7.5|[' Leisure trip '...|          107 day|   235|  5.0|[, the, hotel, is...|[, hotel, nicely,...|(262144,[15585,32...|(262144,[15585,32...|(262145,[15585,32...|[-1370.5923871696...|[1.0,5.7776568743...|       0.0|
| 47| s Gravesandestra...|                         194| 2017-03-29|          7.7|Hotel Arena|     United Kingdom | The hotel is a l...|                               41|                   1403| The hotel looks ...|                               32|                                         2|           8.3|[' Leisure trip '...|          127 day|   159|  4.0|[, the, hotel, lo...|[, hotel, looks, ...|(262144,[5561,216...|(262144,[5561,216...|(262145,[5561,216...|[-971.54061371129...|[1.0,6.3686320143...|       0.0|
| 52| s Gravesandestra...|                         194| 2017-03-18|          7.7|Hotel Arena|        Netherlands | I loved everything |                                5|                   1403| The location in ...|                               65|                                        34|          10.0|[' Leisure trip '...|          138 day|   350|  0.0|[, the, location,...|[, location, quie...|(262144,[9284,286...|(262144,[9284,286...|(262145,[9284,286...|[-2224.2047377403...|[1.0,2.9498285269...|       0.0|
+---+--------------------+----------------------------+-----------+-------------+-----------+--------------------+--------------------+---------------------------------+-----------------------+--------------------+---------------------------------+------------------------------------------+--------------+--------------------+-----------------+------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 10 rows

In [14]:
# Use the Class Evaluator for a cleaner description
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

acc_eval = MulticlassClassificationEvaluator()
acc = acc_eval.evaluate(test_results)
print("Accuracy of model at predicting reviews was: %f" %acc)

Accuracy of model at predicting reviews was: 0.057089