In [1]:
# importing dependencies
import pandas as pd
import zipfile as zf

# Reading the JSON as a DF

In [2]:
# Reading the JSON Zip file that has over 500,000 rows of combined data
zip_file = zf.ZipFile('../DataFiles/TransformedData/JSON/all_rows_JSON.zip') 
df = pd.read_json(zip_file.open('all_rows_JSON.json'))

# check the df
df

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,City,Country
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Nederland
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Nederland
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,Amsterdam,Nederland
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,Amsterdam,Nederland
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,Amsterdam,Nederland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512465,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677,Wien,Österreich
512466,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677,Wien,Österreich
512467,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677,Wien,Österreich
512468,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677,Wien,Österreich
512469,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677,Wien,Österreich

# Selecting 10,000 rows and exporting as a JSON

In [3]:
# selecting 10,000 rows
ten_thousand_row_JSON = df[0:10000]
ten_thousand_row_JSON

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,City,Country
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Nederland
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Nederland
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,Amsterdam,Nederland
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,Amsterdam,Nederland
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,Amsterdam,Nederland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1 Inverness Terrace Westminster Borough London...,1274,2/14/2017,7.7,Grand Royale London Hyde Park,France,No Negative,0,6539,perfect staff,3,6,9.2,"[' Solo traveler ', ' Club Twin Room ', ' Stay...",170 day,51.510995,-0.186342,City of Westminster,United Kingdom
9996,1 Inverness Terrace Westminster Borough London...,1274,2/14/2017,7.7,Grand Royale London Hyde Park,United Kingdom,Room size,3,6539,The staff are really friendly,6,1,7.9,"[' Leisure trip ', ' Group ', ' Superior Doubl...",170 day,51.510995,-0.186342,City of Westminster,United Kingdom
9997,1 Inverness Terrace Westminster Borough London...,1274,2/13/2017,7.7,Grand Royale London Hyde Park,United Kingdom,Room very small Very cramped,7,6539,Friendly,2,2,5.8,"[' Leisure trip ', ' Couple ', ' Superior Doub...",171 day,51.510995,-0.186342,City of Westminster,United Kingdom
9998,1 Inverness Terrace Westminster Borough London...,1274,2/13/2017,7.7,Grand Royale London Hyde Park,South Africa,No Negative,0,6539,Beds were extra comfy Staff very friendly and...,11,1,9.6,"[' Leisure trip ', ' Family with young childre...",171 day,51.510995,-0.186342,City of Westminster,United Kingdom
9999,1 Inverness Terrace Westminster Borough London...,1274,2/13/2017,7.7,Grand Royale London Hyde Park,Norway,Windows Were broken,5,6539,Breakfast Was horible,5,2,3.8,"[' Leisure trip ', ' Family with young childre...",171 day,51.510995,-0.186342,City of Westminster,United Kingdom

In [4]:
# Exporting 10,000 hotel_combined.json as a Zip file
compression_opts = dict(method='zip', archive_name='ten_thousand_row_JSON.json')  
ten_thousand_row_JSON.to_json('../DataFiles/TransformedData/JSON/ten_thousand_row_JSON.zip', index=True, compression=compression_opts)

In [5]:
# Reading the JSON to make sure it was exported correctly
zip_file = zf.ZipFile('../DataFiles/TransformedData/JSON/ten_thousand_row_JSON.zip') 
df_10k = pd.read_json(zip_file.open('ten_thousand_row_JSON.json'))

# check the df
df_10k

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,City,Country
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Nederland
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Nederland
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,Amsterdam,Nederland
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,Amsterdam,Nederland
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,Amsterdam,Nederland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1 Inverness Terrace Westminster Borough London...,1274,2/14/2017,7.7,Grand Royale London Hyde Park,France,No Negative,0,6539,perfect staff,3,6,9.2,"[' Solo traveler ', ' Club Twin Room ', ' Stay...",170 day,51.510995,-0.186342,City of Westminster,United Kingdom
9996,1 Inverness Terrace Westminster Borough London...,1274,2/14/2017,7.7,Grand Royale London Hyde Park,United Kingdom,Room size,3,6539,The staff are really friendly,6,1,7.9,"[' Leisure trip ', ' Group ', ' Superior Doubl...",170 day,51.510995,-0.186342,City of Westminster,United Kingdom
9997,1 Inverness Terrace Westminster Borough London...,1274,2/13/2017,7.7,Grand Royale London Hyde Park,United Kingdom,Room very small Very cramped,7,6539,Friendly,2,2,5.8,"[' Leisure trip ', ' Couple ', ' Superior Doub...",171 day,51.510995,-0.186342,City of Westminster,United Kingdom
9998,1 Inverness Terrace Westminster Borough London...,1274,2/13/2017,7.7,Grand Royale London Hyde Park,South Africa,No Negative,0,6539,Beds were extra comfy Staff very friendly and...,11,1,9.6,"[' Leisure trip ', ' Family with young childre...",171 day,51.510995,-0.186342,City of Westminster,United Kingdom
9999,1 Inverness Terrace Westminster Borough London...,1274,2/13/2017,7.7,Grand Royale London Hyde Park,Norway,Windows Were broken,5,6539,Breakfast Was horible,5,2,3.8,"[' Leisure trip ', ' Family with young childre...",171 day,51.510995,-0.186342,City of Westminster,United Kingdom

# Selecting 1000 rows and exporting as a JSON

In [6]:
# selecting 1000 rows
one_thousand_row = df[0:1000]
one_thousand_row

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,City,Country
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Nederland
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Nederland
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,Amsterdam,Nederland
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,Amsterdam,Nederland
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,Amsterdam,Nederland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1 2 Serjeant s Inn Fleet Street City of London...,639,4/25/2017,9.2,Apex Temple Court Hotel,United Kingdom,No Negative,0,2619,Great location room was outstanding beds were...,30,5,10.0,"[' Leisure trip ', ' Couple ', ' City Twin Roo...",100 day,51.513734,-0.108751,City of London,United Kingdom
996,1 2 Serjeant s Inn Fleet Street City of London...,639,4/23/2017,9.2,Apex Temple Court Hotel,United Kingdom,The cleaner knocked on our door at 8am which ...,38,2619,The hotel gave us a complimentary upgrade to ...,28,2,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",102 day,51.513734,-0.108751,City of London,United Kingdom
997,1 2 Serjeant s Inn Fleet Street City of London...,639,4/21/2017,9.2,Apex Temple Court Hotel,United States of America,This was my second time at this hotel the fir...,72,2619,No Positive,0,11,8.3,"[' Business trip ', ' Solo traveler ', ' Super...",104 day,51.513734,-0.108751,City of London,United Kingdom
998,1 2 Serjeant s Inn Fleet Street City of London...,639,4/20/2017,9.2,Apex Temple Court Hotel,Spain,Going as a family with two rooms hired in the...,34,2619,The design facilities and location of the hot...,16,7,10.0,"[' Leisure trip ', ' Family with young childre...",105 day,51.513734,-0.108751,City of London,United Kingdom
999,1 2 Serjeant s Inn Fleet Street City of London...,639,4/19/2017,9.2,Apex Temple Court Hotel,United Kingdom,Some of the complimentary items of food from ...,24,2619,Staff were lovely reception sent a card and a...,46,3,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",106 day,51.513734,-0.108751,City of London,United Kingdom

In [7]:
# Exporting 1000 hotel_combined.json as a Zip file
compression_opts = dict(method='zip', archive_name='one_thousand_row_JSON.json')  
one_thousand_row.to_json('../DataFiles/TransformedData/JSON/one_thousand_row_JSON.zip', index=True, compression=compression_opts)

In [8]:
# Reading the JSON to make sure it was exported correctly
zip_file = zf.ZipFile('../DataFiles/TransformedData/JSON/one_thousand_row_JSON.zip') 
df_1k = pd.read_json(zip_file.open('one_thousand_row_JSON.json'))

# check the df
df_1k

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,City,Country
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Nederland
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Nederland
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,Amsterdam,Nederland
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,Amsterdam,Nederland
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,Amsterdam,Nederland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1 2 Serjeant s Inn Fleet Street City of London...,639,4/25/2017,9.2,Apex Temple Court Hotel,United Kingdom,No Negative,0,2619,Great location room was outstanding beds were...,30,5,10.0,"[' Leisure trip ', ' Couple ', ' City Twin Roo...",100 day,51.513734,-0.108751,City of London,United Kingdom
996,1 2 Serjeant s Inn Fleet Street City of London...,639,4/23/2017,9.2,Apex Temple Court Hotel,United Kingdom,The cleaner knocked on our door at 8am which ...,38,2619,The hotel gave us a complimentary upgrade to ...,28,2,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",102 day,51.513734,-0.108751,City of London,United Kingdom
997,1 2 Serjeant s Inn Fleet Street City of London...,639,4/21/2017,9.2,Apex Temple Court Hotel,United States of America,This was my second time at this hotel the fir...,72,2619,No Positive,0,11,8.3,"[' Business trip ', ' Solo traveler ', ' Super...",104 day,51.513734,-0.108751,City of London,United Kingdom
998,1 2 Serjeant s Inn Fleet Street City of London...,639,4/20/2017,9.2,Apex Temple Court Hotel,Spain,Going as a family with two rooms hired in the...,34,2619,The design facilities and location of the hot...,16,7,10.0,"[' Leisure trip ', ' Family with young childre...",105 day,51.513734,-0.108751,City of London,United Kingdom
999,1 2 Serjeant s Inn Fleet Street City of London...,639,4/19/2017,9.2,Apex Temple Court Hotel,United Kingdom,Some of the complimentary items of food from ...,24,2619,Staff were lovely reception sent a card and a...,46,3,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",106 day,51.513734,-0.108751,City of London,United Kingdom