In [1]:
# importing dependencies
import pandas as pd
import zipfile as zf

In [2]:
# importing file and converting to a df
zip_file = zf.ZipFile('../DataFiles/RawData/archive.zip') 
hotel_df = pd.read_csv(zip_file.open('Hotel_Reviews.csv'))

# since there is no unique column in the table, we will use the index to creae a unique column for working with data in PostgreSQL
hotel_df.index.name='Review_Id'

# check the df
hotel_df

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
Review_Id,,,,,,,,,,,,,,,,,
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677

In [3]:
# check for null/na values
hotel_df.isnull().sum()

Hotel_Address                                    0
Additional_Number_of_Scoring                     0
Review_Date                                      0
Average_Score                                    0
Hotel_Name                                       0
Reviewer_Nationality                             0
Negative_Review                                  0
Review_Total_Negative_Word_Counts                0
Total_Number_of_Reviews                          0
Positive_Review                                  0
Review_Total_Positive_Word_Counts                0
Total_Number_of_Reviews_Reviewer_Has_Given       0
Reviewer_Score                                   0
Tags                                             0
days_since_review                                0
lat                                           3268
lng                                           3268
dtype: int64

In [4]:
# drop rows that are na/null and reset the index from 0
hotel_df = hotel_df.dropna().reset_index(drop=True) 

# the operation above will delete the index name, so renaming it again
hotel_df.index.name='Review_Id'

hotel_df

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
Review_Id,,,,,,,,,,,,,,,,,
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512465,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677
512466,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677
512467,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677
512468,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677
512469,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677

In [5]:
# check for null again
hotel_df.isnull().sum()

Hotel_Address                                 0
Additional_Number_of_Scoring                  0
Review_Date                                   0
Average_Score                                 0
Hotel_Name                                    0
Reviewer_Nationality                          0
Negative_Review                               0
Review_Total_Negative_Word_Counts             0
Total_Number_of_Reviews                       0
Positive_Review                               0
Review_Total_Positive_Word_Counts             0
Total_Number_of_Reviews_Reviewer_Has_Given    0
Reviewer_Score                                0
Tags                                          0
days_since_review                             0
lat                                           0
lng                                           0
dtype: int64

# Breaking the big table into 2 tables: 1st with hotel reviews, 2nd with hotel locations

In [6]:
## Table 1: Hotel reviews only - no location data

# hotel reviws without lat and lng
hotel_reviews = hotel_df.drop(columns=['lat','lng'])
hotel_reviews

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review
Review_Id,,,,,,,,,,,,,,,
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512465,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day
512466,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day
512467,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day
512468,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day
512469,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day

In [7]:
## Table 2: DF with locations (no reviews)

# creating a subset of the dataframe with unique values on the column 'Hotel_Address' and then reset the index to 0
unique_address_df = hotel_df.drop_duplicates(subset=['Hotel_Address']).reset_index(drop=True) 
unique_address_df

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,1 15 Templeton Place Earl s Court Kensington a...,244,8/3/2017,8.5,K K Hotel George,Ireland,Really nothing negative to say about this hotel,9,1831,Very comfortable beds smart bathroom good sho...,18,2,9.6,"[' Leisure trip ', ' Group ', ' Classic Twin R...",0 days,51.491888,-0.194971
2,1 2 Serjeant s Inn Fleet Street City of London...,639,8/2/2017,9.2,Apex Temple Court Hotel,United Kingdom,Difficult to locate the phone to contact rece...,20,2619,They have followed through special requests C...,17,1,9.2,"[' Leisure trip ', ' Couple ', ' Deluxe King R...",1 days,51.513734,-0.108751
3,1 3 Queens Garden Westminster Borough London W...,1058,8/2/2017,7.7,The Park Grand London Paddington,Cyprus,The first night we were given an extremely sm...,30,4380,The size of the room,6,6,8.3,"[' Family with young children ', ' Triple Room...",1 days,51.514218,-0.180903
4,1 3 Rue d Argentine 16th arr 75116 Paris France,26,6/29/2017,8.4,Monhotel Lounge SPA,Brazil,No Negative,0,171,Nice hotel Room was beautiful and bed very co...,231,1,9.2,"[' Leisure trip ', ' Group ', ' Comfort Double...",35 days,48.874348,2.289733
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1471,Wiedner Hauptstra e 44 04 Wieden 1040 Vienna A...,260,8/2/2017,8.0,Suite Hotel 900 m zur Oper,Germany,The huge minuses for me were no WiFi in my ro...,85,3461,It was a pleasant stay as i was coming back l...,72,2,9.6,"[' Business trip ', ' Solo traveler ', ' Budge...",1 days,48.193523,16.366915
1472,Wildpretmarkt 5 01 Innere Stadt 1010 Vienna Au...,82,6/26/2017,8.9,Hotel Amadeus,Thailand,Nothing,3,717,The hotel is so very conveniently located jus...,152,13,10.0,"[' Leisure trip ', ' Solo traveler ', ' Standa...",38 days,48.210447,16.371578
1473,Wilton Place Knightsbridge Westminster Borough...,70,7/8/2017,9.1,The Berkeley,United Kingdom,We only had one night and would have loved to...,14,232,The Berkeley is the most wonderful place to s...,24,17,10.0,"[' Leisure trip ', ' Couple ', ' Deluxe King R...",26 days,51.502091,-0.157780
1474,Wrights Lane Kensington and Chelsea London W8 ...,1172,8/3/2017,7.8,Holiday Inn London Kensington,United Kingdom,Issue over check in room wasn t ready bar exp...,22,5945,Nice rooms large dining room,6,1,7.1,"[' Leisure trip ', ' Couple ', ' Superior Room...",0 days,51.499981,-0.192879
1475,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/2/2017,8.1,Atlantis Hotel Vienna,United Kingdom,Initial receptionist very functional told us ...,41,2823,Most staff very helpful Air con and internet ...,10,4,6.7,"[' Leisure trip ', ' Family with young childre...",1 days,48.203745,16.335677

In [8]:
# selecting ONLY 4 columns
hotel_location = unique_address_df[["Hotel_Address", "Hotel_Name", "lat", "lng"]]
hotel_location

,Hotel_Address,Hotel_Name,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,52.360576,4.915968
1,1 15 Templeton Place Earl s Court Kensington a...,K K Hotel George,51.491888,-0.194971
2,1 2 Serjeant s Inn Fleet Street City of London...,Apex Temple Court Hotel,51.513734,-0.108751
3,1 3 Queens Garden Westminster Borough London W...,The Park Grand London Paddington,51.514218,-0.180903
4,1 3 Rue d Argentine 16th arr 75116 Paris France,Monhotel Lounge SPA,48.874348,2.289733
...,...,...,...,...
1471,Wiedner Hauptstra e 44 04 Wieden 1040 Vienna A...,Suite Hotel 900 m zur Oper,48.193523,16.366915
1472,Wildpretmarkt 5 01 Innere Stadt 1010 Vienna Au...,Hotel Amadeus,48.210447,16.371578
1473,Wilton Place Knightsbridge Westminster Borough...,The Berkeley,51.502091,-0.157780
1474,Wrights Lane Kensington and Chelsea London W8 ...,Holiday Inn London Kensington,51.499981,-0.192879
1475,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,48.203745,16.335677

# Exporting as zip files

In [9]:
# Exporting hotel_reviews as a Zip file
compression_opts = dict(method='zip', archive_name='hotel_review.csv')  
hotel_reviews.to_csv('../DataFiles/TransformedData/tables/hotel_reviews.zip', index=True, compression=compression_opts)

In [10]:
# Exporting hotel_location as a Zip file
compression_opts = dict(method='zip', archive_name='hotel_location.csv')  
hotel_location.to_csv('../DataFiles/TransformedData/tables/hotel_location.zip', index=False, compression=compression_opts)