In [1]:
# importing dependencies
import pandas as pd
import zipfile as zf

# Reading the JSON as a DF

In [2]:
# Reading the JSON to make sure it was exported correctly
zip_file = zf.ZipFile('../DataFiles/TransformedData/JSON/hotel_combined.zip') 
df = pd.read_json(zip_file.open('hotel_combined.json'))

# check the df
df

,Review_Id,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,City,Country
0,0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Nederland
1,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Nederland
2,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,Amsterdam,Nederland
3,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,Amsterdam,Nederland
4,4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,Amsterdam,Nederland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512465,512465,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677,Wien,Österreich
512466,512466,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677,Wien,Österreich
512467,512467,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677,Wien,Österreich
512468,512468,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677,Wien,Österreich
512469,512469,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677,Wien,Österreich

In [3]:
# selecting 10,000 rows
thousand_row_JSON = df.loc[0:9999]
thousand_row_JSON

,Review_Id,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,City,Country
0,0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Nederland
1,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Nederland
2,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,Amsterdam,Nederland
3,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,Amsterdam,Nederland
4,4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,Amsterdam,Nederland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,1 Inverness Terrace Westminster Borough London...,1274,2/14/2017,7.7,Grand Royale London Hyde Park,France,No Negative,0,6539,perfect staff,3,6,9.2,"[' Solo traveler ', ' Club Twin Room ', ' Stay...",170 day,51.510995,-0.186342,City of Westminster,United Kingdom
9996,9996,1 Inverness Terrace Westminster Borough London...,1274,2/14/2017,7.7,Grand Royale London Hyde Park,United Kingdom,Room size,3,6539,The staff are really friendly,6,1,7.9,"[' Leisure trip ', ' Group ', ' Superior Doubl...",170 day,51.510995,-0.186342,City of Westminster,United Kingdom
9997,9997,1 Inverness Terrace Westminster Borough London...,1274,2/13/2017,7.7,Grand Royale London Hyde Park,United Kingdom,Room very small Very cramped,7,6539,Friendly,2,2,5.8,"[' Leisure trip ', ' Couple ', ' Superior Doub...",171 day,51.510995,-0.186342,City of Westminster,United Kingdom
9998,9998,1 Inverness Terrace Westminster Borough London...,1274,2/13/2017,7.7,Grand Royale London Hyde Park,South Africa,No Negative,0,6539,Beds were extra comfy Staff very friendly and...,11,1,9.6,"[' Leisure trip ', ' Family with young childre...",171 day,51.510995,-0.186342,City of Westminster,United Kingdom
9999,9999,1 Inverness Terrace Westminster Borough London...,1274,2/13/2017,7.7,Grand Royale London Hyde Park,Norway,Windows Were broken,5,6539,Breakfast Was horible,5,2,3.8,"[' Leisure trip ', ' Family with young childre...",171 day,51.510995,-0.186342,City of Westminster,United Kingdom

# Exporting JSON as a ZIP file

In [4]:
# Exporting hotel_combined.json as a Zip file
compression_opts = dict(method='zip', archive_name='thousand_row_JSON.json')  
thousand_row_JSON.to_json('../DataFiles/TransformedData/JSON/thousand_row_JSON.zip', index=True, compression=compression_opts)

In [5]:
# Reading the JSON to make sure it was exported correctly
zip_file = zf.ZipFile('../DataFiles/TransformedData/JSON/thousand_row_JSON.zip') 
df = pd.read_json(zip_file.open('thousand_row_JSON.json'))

# check the df
df

,Review_Id,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,City,Country
0,0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Nederland
1,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Nederland
2,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,Amsterdam,Nederland
3,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,Amsterdam,Nederland
4,4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,Amsterdam,Nederland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,1 Inverness Terrace Westminster Borough London...,1274,2/14/2017,7.7,Grand Royale London Hyde Park,France,No Negative,0,6539,perfect staff,3,6,9.2,"[' Solo traveler ', ' Club Twin Room ', ' Stay...",170 day,51.510995,-0.186342,City of Westminster,United Kingdom
9996,9996,1 Inverness Terrace Westminster Borough London...,1274,2/14/2017,7.7,Grand Royale London Hyde Park,United Kingdom,Room size,3,6539,The staff are really friendly,6,1,7.9,"[' Leisure trip ', ' Group ', ' Superior Doubl...",170 day,51.510995,-0.186342,City of Westminster,United Kingdom
9997,9997,1 Inverness Terrace Westminster Borough London...,1274,2/13/2017,7.7,Grand Royale London Hyde Park,United Kingdom,Room very small Very cramped,7,6539,Friendly,2,2,5.8,"[' Leisure trip ', ' Couple ', ' Superior Doub...",171 day,51.510995,-0.186342,City of Westminster,United Kingdom
9998,9998,1 Inverness Terrace Westminster Borough London...,1274,2/13/2017,7.7,Grand Royale London Hyde Park,South Africa,No Negative,0,6539,Beds were extra comfy Staff very friendly and...,11,1,9.6,"[' Leisure trip ', ' Family with young childre...",171 day,51.510995,-0.186342,City of Westminster,United Kingdom
9999,9999,1 Inverness Terrace Westminster Borough London...,1274,2/13/2017,7.7,Grand Royale London Hyde Park,Norway,Windows Were broken,5,6539,Breakfast Was horible,5,2,3.8,"[' Leisure trip ', ' Family with young childre...",171 day,51.510995,-0.186342,City of Westminster,United Kingdom