In [1]:
import pandas as pd

In [2]:
shopping_df = pd.read_csv("resources/shopping_data.csv")
shopping_df

     CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0             1         Yes  19.0          15000                    39.0
1             2         Yes  21.0          15000                    81.0
2             3          No  20.0          16000                     6.0
3             4          No  23.0          16000                    77.0
4             5          No  31.0          17000                    40.0
..          ...         ...   ...            ...                     ...
198         199          No  35.0         120000                    79.0
199         200          No  45.0         126000                    28.0
200         201         Yes  32.0         126000                    74.0
201         202         Yes  32.0         137000                    18.0
202         203         Yes  30.0         137000                    83.0

[203 rows x 5 columns]

In [5]:
shopping_df.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [6]:
shopping_df.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [8]:
# find null values
for column in shopping_df.columns:
    print(f"Column {column} has {shopping_df[column].isnull().sum()} null values")

Column CustomerID has 0 null values
Column Card Member has 2 null values
Column Age has 2 null values
Column Annual Income has 0 null values
Column Spending Score (1-100) has 1 null values

In [9]:
# drop null rows
shopping_df = shopping_df.dropna()
shopping_df

     CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0             1         Yes  19.0          15000                    39.0
1             2         Yes  21.0          15000                    81.0
2             3          No  20.0          16000                     6.0
3             4          No  23.0          16000                    77.0
4             5          No  31.0          17000                    40.0
..          ...         ...   ...            ...                     ...
198         199          No  35.0         120000                    79.0
199         200          No  45.0         126000                    28.0
200         201         Yes  32.0         126000                    74.0
201         202         Yes  32.0         137000                    18.0
202         203         Yes  30.0         137000                    83.0

[200 rows x 5 columns]

In [13]:
# print duplicate entries
print(f"Duplicate Enries = {shopping_df.duplicated().sum()}")

Duplicate Enries = 0

In [19]:
shopping_list_with_CardMember_removed_df = shopping_df.drop('CustomerID', axis = 1)

KeyError: "['CustomerID'] not found in axis"