In [12]:
import pandas as pd
import numpy as np

data_to_download = "avg_rain_state.csv"
rain_df = pd.read_csv(data_to_download)
rain_df.head()

rain_df.sort_values(['Rank'],ascending=False).tail()

          State  Inches  Milli­metres  Rank
8       Florida    54.5          1385     5
0       Alabama    58.3          1480     4
23  Mississippi    59.0          1499     3
17    Louisiana    60.1          1528     2
10       Hawaii    63.7          1618     1